{% extends "base.html" %} {% block title %}review_div {% endblock%}

{% block content %}
<h1 align="center">{% block header %} Reviews{% endblock %} </h1> 
<div id="reviews">
    {% for review in reviews %}
    <div class="card border-dark">
        <div class="card-header d-flex justify-content-between align-items-center">

            <a href="/reviews/{{review.user.username}}">{{review.user.username}}</a>
            {% if user.id == review.reviewer %}
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown"></button>
                <ul class="dropdown-menu">
                    <li><a href="/delete-review/{{review.id}}" class="dropdown-item">Delete</a></li> 
                </ul>
            </div>
            {% endif %}
        </div>
      
        <div class="card-body">
            <div class="card-text">
                {{review.text}}
            </div>
            <br>
            <div id="comments-{{review.id}}" class="collapse">
                <div class="card">
                    <div class="card-boy" id="comments-expanded-{{review.id}}">
                        {% for comment in review.comments %}
                        
                            <div class="d-flex justify-content-between align-items-center"> 
                                <div>
                                    <a href="/reviews/{{comment.user.username}}">{{comment.user.username}}</a>
                                    :{{comment.text}}
                                </div>
                                <div>
                                    <small class="text-muted">{{comment.date_created}}</small>
                                    {% if user.id == comment.reviewer or user.id == review.reviewer %}
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown"></button>
                                        <ul class="dropdown-menu">
                                            <li><a href="/delete-comment/{{comment.id}}" class="dropdown-item">Delete</a></li> 
                                        </ul>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                    </div>
                </div>
            </div>
                <p class="card-text">
                    {% if review.comments|length > 0 %}
                        <a data-bs-toggle="collapse"   href="#comments-{{review.id}}" role="button">
                            <small >View {{review.comments|length}} Comments</small>
                        </a>
                    {% else %}
                        <small class="text-muted">No comments</small>
                    {% endif %}
                </p>
            <form class="input-group mb-3" method="post" action="/create-comment/{{review.id}}">
                <input type="text" id="text" name="text" class="form-control" placeholder="Leave a comment ...">
                <button type="submit" class="btn btn-primary">Comment</button>
            </form>
        </div>
        <div class="card-footer text-muted">
            {{review.date_created}}
        </div>
    </div>
    <br>
    {% endfor%}
</div>
{%block footer %}
<div align="center">
    <a class="btn btn-primary btn-lg" href="/create-review">
        Create a review
    </a>
</div>
{% endblock %}

{% endblock %}